<div class="section">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 class="supergood-logo-title">Supergood</h1>
        <h1 class="supergood-logo-dot"><strong>.</strong></h1>
        <div class="supergood-desc">
          <p>It's a pretty good company</p>
          <p>hello@supergood<strong class="supergood-desc-dot">.</strong>work</p>
        </div>
      </div>
    </div>
  </div>
</div>
